@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto+Serif:wght@300&display=swap');

$header-font: 'Roboto Serif', sans-serif;
$body-font: 'Lato', sans-serif;
$primary-color: rgb(67, 55, 175);
$secondary-color: rgb(241, 129, 0);
$off-white: rgba($color: #fff, $alpha: 0.9);
$gradient: linear-gradient(
  0deg,
  hsl(192deg 80% 25%) 0%,
  hsl(192deg 80% 22%) 50%,
  hsl(192deg 79% 20%) 100%
);
$box-shadow:   
0 1px 1px hsl(0deg 0% 0% / 0.075),
0 2px 2px hsl(0deg 0% 0% / 0.075),
0 4px 4px hsl(0deg 0% 0% / 0.075),
0 8px 8px hsl(0deg 0% 0% / 0.075),
0 16px 16px hsl(0deg 0% 0% / 0.075)
;
$box-shadow2:   
0 1px 1px hsl(0deg 0% 0% / 0.03),
0 2px 2px hsl(0deg 0% 0% / 0.03),
0 4px 4px hsl(0deg 0% 0% / 0.03),
0 8px 8px hsl(0deg 0% 0% / 0.03),
0 16px 16px hsl(0deg 0% 0% / 0.03)
;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $body-font;
}

input, button, textarea, select {
  font: inherit;
}

.main {
  height: 100vh;
  color: $primary-color;
  overflow: auto;
}

h1 {
  font-family: $header-font;
}

p, label {
  font-weight: 400;
  font-size: 18px;
}

span {
  font-weight: 900;
  margin-right: 3px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0px 24px;
  background-color: $primary-color;
  color: $off-white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.book-container {
  width: 100%;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr;
  padding: 24px 24px 12px 24px;
  border-bottom: 3px solid $primary-color;
  box-shadow: $box-shadow2;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.book-item {
  display: block;
  align-self: center;
  justify-self: center;
  margin-bottom: 12px;
  
}

.btn {
  display: block;
  min-width: 120px;
  background: $primary-color;
  color: $off-white;
  border: none;
  padding: 12px 36px;
  margin: 12px;
  border-radius: 9999px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:hover {
    background-color: $secondary-color;
  }
}

.btn-save {
  margin-left: 0;
  background-color: $off-white;
  color: $primary-color;

  &:hover {
    color: $off-white;
  }
}

.form-container {
  width: 85%;
  max-width: 500px;
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 12px;
  background-color: $primary-color;
  color: $off-white;
  box-shadow: $box-shadow
;
}

.form-control {
  margin: 12px 0 24px 0;

    label {
      display: block;
      margin-bottom: 12px;
    }

    input {
      border: 0;
      width: 100%;
      height: 36px;
      padding: 3px 12px;
      border-radius: 8px;
    }
}

.form-control-check-box {
  margin-bottom: 24px;
}

.check-box {
  margin-right: 12px;
}

